<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span  [innerHTML]="svgCode"></span></a>
  </div>
<!--   <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>
<div class="header-container" style="margin-right: 2%;">

  
  <div class="user-action row" >
    <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
      <img style="width: 100%; height: 100%; object-fit: cover;" [src]="user?.picture" alt="User Picture">
    </div>
    <span style="width: 14px;"></span>
    <span class="user-name" style="margin-top: 4%;">{{ user?.name }}</span>
    <span style="width: 14px;"></span>

    <button nbButton style="font-size: 10px;" hero status="primary"  (click)="logout()" class="btn-primary">Deconnecte</button>
  </div>
</div>


<!-- <nb-actions size="small">
    
  <nb-action  class="user-action" *nbIsGranted="['view', 'user']" >
    <nb-user [nbContextMenu]="userMenu"
             [onlyPicture]="userPictureOnly"
             [name]="user?.name"
             [picture]="user?.picture">
    </nb-user>
  </nb-action>
</nb-actions> -->