<!-- <nb-card *ngFor="let benefeciary of beneficiaries">
  <nb-card-header>Données personnel </nb-card-header>
  <nb-card-body>
      <div class="row">
          <div class="col-md-6">

              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label">N° du adhesion :</label>
                  </div>
                  <div class="col-sm-9">
                      <strong >{{benefeciary.numeroAdhesion}}</strong>
                  </div>
              </div>

              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label">date debut prestation   :</label>
                  </div>
                  <div class="col-sm-9">
                      <strong>{{benefeciary.dateDebutPrestation}}</strong>
                  </div>
              </div>

              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label"> Adhérent:</label>
                  </div>
                  <div class="col-sm-9">
                     <strong>{{benefeciary.nomAdherent}}</strong>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label"> plafond :</label>
                  </div>
                  <div class="col-sm-9">
                      <strong>{{benefeciary.plafond}}</strong>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label">situation
                          d'adhesion :</label>
                  </div>
                  <div class="col-sm-9">
                      <strong>{{benefeciary.situationAdhesion}}</strong>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-3">

                      <label style="font-size: 14px;" class="label col-sm-3col-form-label">date
                          position:</label>
                  </div>
                  <div class="col-sm-9">
                      <strong>{{benefeciary.datePosition}}</strong>
                  </div>
              </div>
          </div>

          <div class="col-md-6">
              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label"> date Fin
                          pristation:</label>
                  </div>
                  <div class="col-sm-9">
                      <strong>{{benefeciary.dateFinPrestation}}</strong>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label"> date debut
                          pristation:</label>
                  </div>
                  <div class="col-sm-9">
                      <strong>{{benefeciary.dateDebutPrestation}}</strong>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label">quality : </label>
                  </div>
                  <div class="col-sm-9">


                      <strong>{{benefeciary.quality == 'FATHER' ? 'père' : benefeciary.quality == 'MOTHER' ? 'mère' : benefeciary.quality == 'SPOUSE' ? 'conjoint' : benefeciary.quality == 'CHILD' ? 'enfant':benefeciary.quality}}</strong>




                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label">nom & prenom
                          :</label>
                  </div>
                  <div class="col-sm-9">


                      <strong>{{benefeciary.nomEtPrenom}}</strong>


                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-3">
                      <label style="font-size: 14px;" class="label col-sm-3col-form-label">date situation
                          adhesion
                          :</label>
                  </div>
                  <div class="col-sm-9">


                      <strong>{{benefeciary.dateAdhesion}}</strong>


                  </div>
              </div>

          </div>
      </div>


  </nb-card-body>
</nb-card> -->