<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Identification</ng-template>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Données de la police</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <div class="col-3">
                <label style="font-size: 14px;" class="label col-sm-3col-form-label">Numero Police :</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="" placeholder="numero police">
              </div>
            </div>

          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header  class="text-white" style="background: rgb(86,13,110);
    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);">Données d'Identification </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">N° d'adhesion :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="" [(ngModel)]="Contract.registrationNumber"
                      [(ngModel)]="Member.membershipCodeNumber" placeholder="N° du adhesion">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date d'adhesion :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="" [(ngModel)]="Member.subscriptionDate"
                      placeholder="date d'adhesion">
                  </div>
                </div>


                <!-- <div class="form-group row">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Numero police</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                    </div>
                  </div> -->
                <!-- <div class="form-group row">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">N° piece d'identite</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                    </div>
                  </div> -->



                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Adhérent:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="" [(ngModel)]="fullName" placeholder="Adhérent">
                    <button nbButton (click)="getPersonByNAme()">recherche</button>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Situation: </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="Contract.contractSituation" selected="IN_PROGRESS">
                      <nb-option value="IN_PROGRESS">En-cours</nb-option>
                      <nb-option value="CANCELLED">Annuler</nb-option>
                      <nb-option value="TERMINATED">Terminé</nb-option>
                      <nb-option value="NOT_SIGNED">No-signal</nb-option>
                    </nb-select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date de Situation:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="" [(ngModel)]="Contract.contractSituationDate"
                      [(ngModel)]="Member.membershipDate" placeholder="date de situation">
                  </div>
                </div>

                <nb-checkbox status="" [(ngModel)]="Member.isVIP">VIP</nb-checkbox>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Societe Mére:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="" [(ngModel)]="Member.parentCompany"
                      placeholder="societe mére">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Fin d'adhésion: </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="" [(ngModel)]="Member.membershipExpiryDate"
                      placeholder="date fin d'adhésion">
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-3">

                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Interlocuteur Privilagie
                      :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="" [(ngModel)]="Member.mainContact"
                      placeholder="interlocuteur privilagie">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="Member.patterns" selected="PATTERN_1">
                      <nb-option value="PATTERN_1">MODÈLE 1</nb-option>
                      <nb-option value="PATTERN_2">MODÈLE 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <nb-checkbox status="" [(ngModel)]="Member.isCouple">Couple</nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Données de Tarification</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <div class="col-3">

                <label style="font-size: 14px;" class="label col-sm-3col-form-label">Code Tarification:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="" [(ngModel)]="PricingData.pricingCode"
                  placeholder="code tarification">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">

                <label style="font-size: 14px;" class="label col-sm-3col-form-label">Code Prestation</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="" [(ngModel)]="PricingData.serviceCode"
                  placeholder="code prestation">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Commentaire & Prestations</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <div class="col-3">

                <label style="font-size: 14px;" class="label col-sm-3col-form-label">Commentaire : </label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="" [(ngModel)]="Comment.comment"
                  placeholder="Commentaire">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-3">
                <label style="font-size: 14px;" class="label col-sm-3col-form-label">Type: </label>
              </div>
              <div class="col-sm-9">
                <nb-select fullWidth [(ngModel)]="Comment.type" selected="SUSPENSION_OF_BENEFITS_PAYMENT">
                  <nb-option value="SUSPENSION_OF_PROCESSING_BENEFITS">Bloucage du la saisir des prestation</nb-option>
                  <nb-option value="SUSPENSION_OF_BENEFITS_PAYMENT">Bloucage du paiement des prestation</nb-option>
                </nb-select>
              </div>
            </div>

          </nb-card-body>
        </nb-card>
        <div class="row">
          <button nbButton disabled shape="round" style="font-size: 16px;" status="primary"
            nbStepperNext>Précédente</button>
          <span style="width:25px;"></span>

          <button nbButton hero status="danger" (click)="addMember()">Sync</button>
          <span style="width:25px;"></span>

          <button nbButton nbStepperNext shape="round" style="font-size: 16px;" status="primary"
            (click)="addContract()">suivant</button>
        </div>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Adhérent</ng-template>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Adhérent </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Adhérent :</label>
                  </div>
                  <!--
                  <td>{{person.firstName}}</td>
                  <td>{{person.lastName}}</td>
                  <td>{{person.personType}}</td>
                  <td>{{person.policyNumber}}</td>
                  <td>{{person.nationality}}</td>
                  <td>{{person.dateOfBirth}}</td>
                  <td>{{person.civilStatus}}</td>
                  <td>{{person.cityOfBirth}}</td>

-->
                  <div class="col-sm-9">
                    <strong>{{person.firstName}} {{person.lastName}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date de Nnaissance :</label>
                  </div>
                  <div class="col-sm-9">
                    <strong>{{person.dateOfBirth}}</strong>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Situation Familliale :</label>
                  </div>
                  <div class="col-sm-9">
                    <strong>{{person.civilStatus}}</strong>
                  </div>
                </div>






                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Address : </label>
                  </div>
                  <div class="col-sm-9">
                    <strong>{{person.cityOfBirth}}</strong>
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Nbre d'enfants à Charge</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="" placeholder="Nbre d'enfants à charge">
                  </div>
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Matricule :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="" placeholder="matricule">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">N°piéces d'identite : </label>
                  </div>
                  <div class="col-sm-9">
                    <strong>{{person.identityDocumentNumber}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Teléphone :</label>
                  </div>
                  <div class="col-sm-9">
                    <strong>{{contact.mobilePhoneNumber}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Rib :</label>
                  </div>
                  <div class="col-sm-9">
                    <strong>{{rib.ribNumber}}</strong>
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-3">

                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Nbre de Parents à Charge
                      :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="">
                  </div>
                </div>


              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Données Professional</nb-card-header>
          <nb-card-body>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Position : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="ProfessionalInfo.position" selected="IN_ACTIVITY">
                      <nb-option value="IN_ACTIVITY">active</nb-option>
                      <nb-option value="OFF_ACTIVITY">désactiver</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Salaire :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth [(ngModel)]="ProfessionalInfo.salary" status=""
                      placeholder="Salaire">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Classe : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="ProfessionalInfo.classe" selected="CLASS_1">
                      <nb-option value="CLASS_1">classe 1</nb-option>
                      <nb-option value="CLASS_2">classe 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Echelon : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="ProfessionalInfo.echelon" selected="ECHELON_1">
                      <nb-option value="ECHELON_1">Echelon 1</nb-option>
                      <nb-option value="ECHELON_2">Echelon 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Fin Cotisation :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth [(ngModel)]="ProfessionalInfo.contributionEndDate"
                      status="" placeholder="Adhérent">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Situatuin d'adhesion : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="ProfessionalInfo.membershipStatus" selected="1">
                      <nb-option value="INACTIVE">Désactiver</nb-option>
                      <nb-option value="ACTIVE">Active</nb-option>[, ]
                    </nb-select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Position :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth [(ngModel)]="ProfessionalInfo.positionDate" status=""
                      placeholder="Date position">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Collége : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="ProfessionalInfo.college" selected="COLLEGE_1">
                      <nb-option value="COLLEGE_1">Collége_1</nb-option>
                      <nb-option value="COLLEGE_2">Collége_2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Catègorie : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="ProfessionalInfo.category" selected="CATEGORY_1">
                      <nb-option value="CATEGORY_1">Catègorie_1</nb-option>
                      <nb-option value="CATEGORY_2">Catègorie_2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Debut Cotisation :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status=""
                      [(ngModel)]="ProfessionalInfo.contributionStartDate" placeholder="Adhérent">
                  </div>
                </div>

                <div class="form-group row">

                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Type de Remboursement :
                    </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="ProfessionalInfo.refundType" selected="REFUND_BY_BANK_WIRE">
                      <nb-option value="REFUND_BY_BANK_WIRE">REMBOURSEMENT PAR VIREMENT BANCAIRE</nb-option>
                      <nb-option value="OTHER_REFUND_TYPE">AUTRE REMBOURSEMENTTYPE</nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <div class="row">
          <button nbButton shape="round" style="font-size: 16px;" status="primary" nbStepperPrevious>Précédente</button>
          <span style="width:25px;"></span>

          <button nbButton shape="round" style="font-size: 16px;" status="primary" nbStepperNext
            (click)="addprofessionalinfo()">Suivant</button>
        </div>
      </nb-step>
      <nb-step [label]="labelThree">
        <ng-template #labelThree>Securite Social</ng-template>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Données Securite Social </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Matricule Cnrps :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth [(ngModel)]="SocialSecurityData.cnrpsRegistrationNumber"
                      status="" placeholder="Matricule Cnrps">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Matricule Cnam:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth [(ngModel)]="SocialSecurityData.cnamRegistrationNumber"
                      status="" placeholder="Matricule Cnam">
                  </div>
                </div>
                <nb-checkbox status="" [(ngModel)]="SocialSecurityData.isAPCI">APCI</nb-checkbox>


              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Matricule Cnss:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth [(ngModel)]="SocialSecurityData.cnssRegistrationNumber"
                      status="" placeholder="matricule Cnss">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Filier : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="SocialSecurityData.sector" selected="SECTOR_1">
                      <nb-option value="SECTOR_1">filier_1</nb-option>
                      <nb-option value="SECTOR_2">filier_2</nb-option>
                      <nb-option value="SECTOR_3">filier_3</nb-option>
                      <nb-option value="SECTOR_4">filier_4</nb-option>
                    </nb-select>
                  </div>
                </div>
                <nb-checkbox status="" [(ngModel)]="SocialSecurityData.isChronicDisease">Maladie Chronique
                </nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >APCI</nb-card-header>
          <nb-card-body>


            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date APCI :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth [(ngModel)]="APCI.dateAPCI" status=""
                      placeholder="Date APCI ">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Debut :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="" [(ngModel)]="APCI.startDate"
                      placeholder="Date debut">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">APCI Type : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth [(ngModel)]="APCI.apciEnumType" selected="CASE_1">
                      <nb-option value="CASE_1">cas_1</nb-option>
                      <nb-option value="CASE_2">cas_2</nb-option>
                      <nb-option value="CASE_3">cas_3</nb-option>
                      <nb-option value="CASE_4">cas_4</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Fin :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth [(ngModel)]="APCI.endDate" status=""
                      placeholder="Date fin">
                  </div>
                </div>


              </div>
              <div class="col-md-4">

                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Nom :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth [(ngModel)]="APCI.name" status="" placeholder="nom ">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Expiration de Bons
                      :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="" [(ngModel)]="APCI.expiryDate"
                      placeholder="Date expiration de bons">
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>


        <div class="row">

          <button nbButton nbStepperPrevious shape="round" style="font-size: 16px;" status="primary"
            (click)="removeContractId()">Précédente</button>
          <span style="width:25px;"></span>

          <button nbButton nbStepperNext shape="round" style="font-size: 16px;" status="primary"
            (click)="addSocialSecurityData()">Suivant</button>
        </div>

      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Gestion Beneficaire</ng-template>
        <nb-card>
          <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Gestion Beneficaire</nb-card-header>
          <nb-card-body>
            <div class="row ">
              <div class="col-10"></div>
              <div class="col-2">
                <button nbButton shape="round" style="font-size: 16px;" status="" (click)="ajouter = true"
                  *ngIf="!ajouter">Ajouter</button>

              </div>
            </div>

            <div *ngIf="ajouter">
              <div class="row">
                <div class="col-12">
                  <nb-card>
                    <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Données Personnel </nb-card-header>
                    <nb-card-body>
                      <div class="row">
                        <div class="col-md-6">


                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label">N° d'adhesion
                                :</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="text" nbInput fullWidth status=""
                                [(ngModel)]="Beneficiary.numeroAdhesion" placeholder="N° du adhesion">
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Debut Prestation
                                :</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="date" nbInput fullWidth status=""
                                [(ngModel)]="Beneficiary.dateDebutPrestation" placeholder="date debut prestation">
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label"> Adhérent:</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="text" nbInput fullWidth status=""
                                [(ngModel)]="Beneficiary.nomAdherent" [(ngModel)]="fullName" placeholder="Adhérent">
                              <button nbButton (click)="getPersonByNAme()">Recherche</button>
                            </div>
                          </div>


                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label"> Plafond :</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="text" nbInput fullWidth [(ngModel)]="Beneficiary.plafond" status=""
                                placeholder="plafond">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label">Situation d'adhesion
                                :</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="text" nbInput fullWidth [(ngModel)]="Beneficiary.situationAdhesion"
                                status="" placeholder="situation d'adhesion">
                            </div>
                          </div>



                        </div>

                        <div class="col-md-6">
                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label"> Date Debut
                                Pristation
                                :</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="date" nbInput fullWidth status=""
                                [(ngModel)]="Beneficiary.dateFinPrestation" placeholder="date debut pristation">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label">Quality : </label>
                            </div>
                            <div class="col-sm-9">
                              <nb-select fullWidth [(ngModel)]="Beneficiary.quality" selected="FATHER">
                                <nb-option value="FATHER">pére</nb-option>
                                <nb-option value="MOTHER">mere</nb-option>
                                <nb-option value="SPOUSE">conjoint</nb-option>
                                <nb-option value="CHILD">enfants</nb-option>
                              </nb-select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label">Nom & Prenom
                                :</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="text" nbInput fullWidth [(ngModel)]="Beneficiary.nomEtPrenom"
                                status="" placeholder="nom & prenom">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-3">
                              <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Situation
                                Adhesion
                                :</label>
                            </div>
                            <div class="col-sm-9">
                              <input type="date" nbInput [(ngModel)]="Beneficiary.dateAdhesion" fullWidth
                                status="" placeholder="date situation adhesion">
                            </div>
                          </div>

                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Données profisionnel </nb-card-header>
                    <nb-card-body>




                      <div class="form-group row">
                        <div class="col-3">

                          <label style="font-size: 14px;" class="label col-sm-3col-form-label">Date Position:</label>
                        </div>
                        <div class="col-sm-9">
                          <input type="date" nbInput fullWidth status="" [(ngModel)]="Beneficiary.datePosition"
                            placeholder="date position">
                        </div>
                      </div>


                    </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header class="text-white" style="background: rgb(86,13,110);
                    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);" >Données securite social :</nb-card-header>
                    <nb-card-body>

                      <nb-checkbox status="" [(ngModel)]="SocialSecurityData.isAPCI">APCI </nb-checkbox>
                    </nb-card-body>
                  </nb-card>

                </div>

              </div>
              <div class="row">
                <button nbButton shape="round" style="font-size: 16px;" status="primary" (click)="ajouter = false"
                  (click)=AddBeneficiary()>valider</button>
                <span style="width:25px;"></span>
                <button nbButton shape="round" style="font-size: 16px;" status="primary"
                  [routerLink]="['/pages/legend-chart']">annuler</button>
              </div>
              <!-- <button nbButton [routerLink]="['/pages/earning-chart']">ajouter</button> -->
            </div>

          </nb-card-body>
        </nb-card>
        <div class="row">
          <button nbButton shape="round" style="font-size: 16px;" status="primary" nbStepperPrevious>Précédente</button>
          <span style="width:25px;"></span>
          <button nbButton shape="round" style="font-size: 16px;" status="primary" nbStepperNext>Suivant</button>
        </div>
      </nb-step>
      <nb-step [label]="labelFive">
        <ng-template #labelFive>pieces justificatives</ng-template>
        <!-- <div class="form-group row">
          <label style="font-size: 14px;" class="label col-sm-3col-form-label">File : </label>
          <div class="col-md-6">
            <div class="custom-file">
              <input type="file" class="custom-file-input" (change)="onFileSelected($event)">
              <label class="custom-file-label">file</label>
            </div>

          


          <div class="col-md-6">
          </div>
        </div> -->
        
        
        <div class="form-group row">

          <div class="col-3">
            <label style="font-size: 14px;" class="label col-sm-3col-form-label">Fichier : </label>

          </div>
          <div class="col-sm-9">
            <form  enctype="multipart/form-data">
              <input nbInput fullWidth type="file" name="file" (change)="onFileSelected($event)"
                accept=".pdf,.doc,.docx">
            <button nbButton shape="round" type="submit">Upload</button>
          </form>

          </div>
        </div>

        <div class="form-group row">
          <div class="col-3">

          <label style="font-size: 14px;" class="label col-sm-3col-form-label">Nature : </label>
          </div>
          <div class="col-sm-9">
            <nb-select fullWidth selected="Justificatif Bancaire ">
              <nb-option value="BANK_PROOF">Justificatif Bancaire </nb-option>
              <nb-option value="SOCIAL_SECURITY_PROOF">Preuve De Sécurité Sociale</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <button nbButton shape="round" style="font-size: 16px;" status="primary" nbStepperPrevious>Précédente</button>
          <span style="width:25px;"></span>
          <button nbButton shape="round" (click)="AddContractDocumentFileByContract()" style="font-size: 16px;"
            status="primary" nbStepperNext>Suivant</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>