<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Identification</ng-template>

        <nb-card>
          <nb-card-header>Données de la police</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label">numero police :</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
              </div>
            </div>

          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Données d'Identification </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">N° du adhesion :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">date d'adhesion :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>


                <!-- <div class="form-group row">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Numero police</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                    </div>
                  </div> -->
                <!-- <div class="form-group row">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">N° piece d'identite</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                    </div>
                  </div> -->



                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Adhérent :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">situation : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">date de situation:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>

                <nb-checkbox status="success">couple</nb-checkbox>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">societe mére :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">date fin d'adhésion : </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-3">

                    <label for="inputEmail1" class="label col-sm-3col-form-label">interlocuteur privilagie :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <nb-checkbox status="warning">couple</nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Données de Tarification</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <div class="col-3">

                <label for="inputEmail1" class="label col-sm-3col-form-label">code tarification</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">

                <label for="inputEmail1" class="label col-sm-3col-form-label">code prestation</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Commentaire & prestations</nb-card-header>
          <nb-card-body>


            <label for="inputEmail1" class="label col-sm-3col-form-label">Commentaire : </label>

            <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
            <nb-checkbox status="warning">Bloucage de la saisir des prestationtion</nb-checkbox>

            <nb-checkbox status="warning">Bloucage du paiement des prestation</nb-checkbox>




          </nb-card-body>
        </nb-card>

        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Adhérent</ng-template>
        <nb-card>
          <nb-card-header>Adhérent </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Adhérent :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Date de naissance :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">situation familliale :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>






                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Address : </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Nbre d'enfants à charge</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">matricule :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">N° piéces d'identite : </label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Teléphone :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Rib :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-3">

                    <label for="inputEmail1" class="label col-sm-3col-form-label">Nbre de parents à charge :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>


              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Données de la police</nb-card-header>
          <nb-card-body>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Adhérent :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Adhérent :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Adhérent :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Adhérent :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>

                <div class="form-group row">

                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">motif : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelThree">
        <ng-template #labelThree>securite social</ng-template>
        <nb-card>
          <nb-card-header>Adhérent </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Matricule Cnrps :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Matricule Cnam:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <nb-checkbox status="success">APCI</nb-checkbox>


              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">matricule Cnss:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">filier : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <nb-checkbox status="success">Maladie Chronique </nb-checkbox>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Données de la police</nb-card-header>
          <nb-card-body>


            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Date APCI :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Date debut :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">APCI : </label>
                  </div>
                  <div class="col-sm-9">
                    <nb-select fullWidth selected="1">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Date fin :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>


              </div>
              <div class="col-md-4">

                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">nom :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Date expiration de bons :</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>


        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Gestion beneficaire</ng-template>
        <nb-card>
          <nb-card-header>Gestion beneficaire</nb-card-header>
          <nb-card-body>
            <div class="row ">
              <div class="col-10"></div>
              <div class="col-2">
                <button nbButton (click)="ajouter = true" *ngIf="!ajouter">ajouter</button>
                
                </div>
              </div>
            
<div *ngIf="ajouter">
            <div class="row">
              <div class="col-12">
                <nb-card>
                  <nb-card-header>Données personnel </nb-card-header>
                  <nb-card-body>
                    <div class="row">
                      <div class="col-md-6">


                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label">N° du adhesion :</label>
                          </div>
                          <div class="col-sm-9">
                            <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label">date debut prestation
                              :</label>
                          </div>
                          <div class="col-sm-9">
                            <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label"> Adhérent:</label>
                          </div>
                          <div class="col-sm-9">
                            <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label">plafond : </label>
                          </div>
                          <div class="col-sm-9">
                            <nb-select fullWidth selected="1">
                              <nb-option value="1">Option 1</nb-option>
                              <nb-option value="2">Option 2</nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label">situation d'adhesion :
                            </label>
                          </div>
                          <div class="col-sm-9">
                            <nb-select fullWidth selected="1">
                              <nb-option value="1">Option 1</nb-option>
                              <nb-option value="2">Option 2</nb-option>
                            </nb-select>
                          </div>
                        </div>



                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label"> date debut pristation
                              :</label>
                          </div>
                          <div class="col-sm-9">
                            <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label">quality : </label>
                          </div>
                          <div class="col-sm-9">
                            <nb-select fullWidth selected="1">
                              <nb-option value="1">pére</nb-option>
                              <nb-option value="2">mere</nb-option>
                              <nb-option value="3">conjoint</nb-option>
                              <nb-option value="4">enfants</nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label">nom & prenom :</label>
                          </div>
                          <div class="col-sm-9">
                            <input type="text" nbInput fullWidth status="success" placeholder="Warning Input">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-3">
                            <label for="inputEmail1" class="label col-sm-3col-form-label">date situation adhesion
                              :</label>
                          </div>
                          <div class="col-sm-9">
                            <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                          </div>
                        </div>

                      </div>
                    </div>
                  </nb-card-body>
                </nb-card>
                <nb-card>
                  <nb-card-header>Données profisionnel </nb-card-header>
                  <nb-card-body>




                    <div class="form-group row">
                      <div class="col-3">

                        <label for="inputEmail1" class="label col-sm-3col-form-label">date position:</label>
                      </div>
                      <div class="col-sm-9">
                        <input type="date" nbInput fullWidth status="success" placeholder="Warning Input">
                      </div>
                    </div>


                  </nb-card-body>
                </nb-card>
                <nb-card>
                  <nb-card-header>Données securite social :</nb-card-header>
                  <nb-card-body>

                    <nb-checkbox status="success">APCI </nb-checkbox>
                  </nb-card-body>
                </nb-card>
              </div>

                <button nbButton  (click)="ajouter = false">valider</button>
                <button nbButton [routerLink]="['/pages/legend-chart']">annuler</button>

              </div>

              <!-- <button nbButton [routerLink]="['/pages/earning-chart']">ajouter</button> -->
            </div>

          </nb-card-body>
        </nb-card>

        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFive">
        <ng-template #labelFive>pieces justificatives</ng-template>
        <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-3col-form-label">Nature : </label>
          <div class="col-md-6">
            <nb-select fullWidth selected="1">
              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
            </nb-select>
          </div>
          <div class="col-md-6">

          </div>
        </div>

        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>