<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="general">
          <nb-card>
            <nb-card-header style="background: rgb(86,13,110);
    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);">Données de la police </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-6">

                  <div class="form-group row">
                    <div class="col-3">
                      <label  class="label col-sm-3col-form-label" >N° police :</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="N° police">
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header style="background: rgb(86,13,110);
    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);">Données D'Identification </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-6">

                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">Identifiant:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="Identifiant">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">nom:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="nom">
                    </div>
                  </div>


                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">nationalité:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">type piece Identification:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">N° piece d'dentification:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="N° piece d'dentification">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label"> Date piece d'dentification:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="date" nbInput fullWidth status="success" placeholder="Date piece d'dentification">
                    </div>
                  </div>




                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">Statue:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">prenom:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="prenom">
                    </div>
                  </div>



                </div>
              </div>
            </nb-card-body>
          </nb-card>
          <nb-card>
            <nb-card-header style="background: rgb(86,13,110);
    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);">Autre Information </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-6">

                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">date naissance:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="date" nbInput fullWidth status="success" placeholder="date naissance">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">situation familliale:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">situation vie:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">vie de naissance:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">

                      <label for="inputEmail1" class="label col-sm-3col-form-label">Nom de jeune fille:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth status="success" placeholder="Nom de jeune fille">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">sexe:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">

                      <label for="inputEmail1" class="label col-sm-3col-form-label">date d'effet FS:</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="date" nbInput fullWidth status="success" placeholder="date d'effet FS">
                    </div>
                  </div>


                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">pays de naissance:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="inputEmail1" class="label col-sm-3col-form-label">Gouv de naissance:</label>
                    </div>
                    <div class="col-sm-9">
                      <nb-select fullWidth selected="1">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                      </nb-select>
                    </div>
                  </div>

                  <nb-checkbox status="success">Residance </nb-checkbox>
                </div>
              </div>


            </nb-card-body>
          </nb-card>
          <nb-card>
            <nb-card-header style="background: rgb(86,13,110);
    background: linear-gradient(109deg, rgba(86,13,110,1) 34%, rgba(116,24,93,1) 78%, rgba(134,31,83,1) 100%);">Rattachment :</nb-card-header>
            <nb-card-body>

              <nb-checkbox status="success">photo </nb-checkbox>
            </nb-card-body>
          </nb-card>

          <button nbButton>valider</button>
          <button nbButton>annuler</button>



        </nb-tab>

        <nb-tab tabTitle="Contact">
          <div class="row ">
            <div class="col-10"></div>
            <div class="col-2">
              <button nbButton (click)=" ajouterContact = true" *ngIf="! ajouterContact">ajouter</button>
            </div>
          </div>
          <div *ngIf=" ajouterContact">

            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label">Email:</label>
              </div>
              <div class="col-sm-9">
                <input type="email" nbInput fullWidth status="success" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label">N° Mobile:</label>
              </div>
              <div class="col-sm-9">
                <input type="number" nbInput fullWidth status="success" placeholder="N° Mobile">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label">N° Fix:</label>
              </div>
              <div class="col-sm-9">
                <input type="number" nbInput fullWidth status="success" placeholder="N° Fix">
              </div>
            </div>
            <button nbButton (click)="ajouterContact = false">Valider</button>
            <button nbButton>Annuler</button>
          </div>


        </nb-tab>
        <nb-tab tabTitle="Address">
          <div class="row ">
            <div class="col-10"></div>
            <div class="col-2">
              <button nbButton (click)="ajouterAddress = true" *ngIf="!ajouterAddress">ajouter</button>
            </div>
          </div>
          <div *ngIf="ajouterAddress">

            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label">Rue:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="Rue">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label">Gouvernorat:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="Gouvernorat">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label"> ville:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="ville">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <label for="inputEmail1" class="label col-sm-3col-form-label">Code postal:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="Code postal">
              </div>
            </div>
            <button nbButton (click)="ajouterAddress = false">Valider</button>
            <button nbButton>Annuler</button>
          </div>



        </nb-tab>
        <nb-tab tabTitle="Rib">
          <div class="row ">
            <div class="col-10"></div>
            <div class="col-2">
              <button nbButton (click)="ajouterRib = true" *ngIf="!ajouterRib">ajouter</button>
            </div>
          </div>
          <div *ngIf="ajouterRib">
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">N° d'ordre:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="N° d'ordre">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Type de RIB:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Type de RIB">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Devise:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Devise">
                  </div>
                </div>
                </div>
              </div>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col-6">

                
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">RIB:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="number" nbInput fullWidth status="success" placeholder="RIB">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Banque:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="success" placeholder="Banque">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Compte:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="number" nbInput fullWidth status="success" placeholder="Compte">
                  </div>
                </div>
                  </div>
                  <div class="col-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Guichet:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="number" nbInput fullWidth status="success" placeholder="Guichet">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="inputEmail1" class="label col-sm-3col-form-label">Clè:</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="number" nbInput fullWidth status="success" placeholder="Clè">
                  </div>
                </div>
              </div>
            </div>

              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-body>
            <div class="form-group row">
              <div class="col-3">
                <label  class="label col-sm-3col-form-label"> Agence:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth status="success" placeholder="Agence">
              </div>
            </div>
              </nb-card-body>
            </nb-card>
                <button nbButton (click)="ajouterRib = false">Valider</button>
                <button nbButton>Annuler</button>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Historique de consultation">
          <span>Content #3</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>